# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
\build

# Qt-es

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects

*_qmlcache.qrc
